:root {
	--color-primary: #1f1d2b;
	--color-secondary: #252836;
	--color-tertiary: #393c49;
	--color-quaternary: #abbbc2;
	--color-quinary: #e0e6e9;
	--color-accent1: #ea7f69;
	--color-accent2: #ea7c69;
	--color-accent3: #50d1aa;
	--color-accent4: rgba(136, 224, 145, 0.24);
	--bg-color: #1f1d2b;
	--bg-hover: #343444;
	--text-color: #ffffff;
	--text-muted: #ea7c69;
	--primary-bg: #1f1d2b;
	--secondary-bg: #252836;
	--highlight-bg: #ea7c69;
}

/* Reset some default browser styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Basic styles for buttons */
.btn {
	outline: none;
	text-decoration: none;
	display: block;
	cursor: pointer;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	text-align: center;
}

/* Basic styles for body */
body {
	font-family: "Montserrat", sans-serif;
	line-height: 1.5;
	background-color: var(--color-primary);
	color: #fff;
	padding-bottom: 40px;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--color-primary);
	color: white;
	text-align: center;
	box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.75);
}

.footer p {
	padding: 10px;
	text-align: center;
}
